@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext");
/* line 1, sass/_base.scss */
header {
  border-bottom: 1px solid #ebecec;
  padding: 10px 0;
}
/* line 5, sass/_base.scss */
header .ajanlat-btn {
  float: right;
  padding: 15px 0 0 15px;
}
/* line 8, sass/_base.scss */
header .ajanlat-btn a {
  background: #ff2d00;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
}
/* line 17, sass/_base.scss */
header .ajanlat-btn a:hover {
  background: #e62900;
}

/* line 24, sass/_base.scss */
.fusion-main-menu > ul > li:hover > a {
  background: #ebecec;
}

/* line 28, sass/_base.scss */
.fusion-main-menu > ul > li > a {
  text-transform: uppercase;
  padding: 0 1rem;
}

/* line 33, sass/_base.scss */
.fusion-main-menu .fusion-dropdown-menu .sub-menu li a:hover {
  color: white;
}

/* line 37, sass/_base.scss */
.fusion-main-menu .sub-menu ul > li > a {
  background: #479a1d;
  color: white !important;
}
/* line 40, sass/_base.scss */
.fusion-main-menu .sub-menu ul > li > a:hover {
  background: #336f15;
}

/* line 46, sass/_base.scss */
footer .textwidget p {
  margin: 0;
  padding: 0;
}
/* line 50, sass/_base.scss */
footer ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 56, sass/_base.scss */
footer ul.menu li {
  padding: 0 !important;
  border: none !important;
}
/* line 59, sass/_base.scss */
footer ul.menu li a {
  padding: 0 15px;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  line-height: 60px;
}
/* line 66, sass/_base.scss */
footer ul.menu li a:hover:before {
  display: none !important;
}
/* line 72, sass/_base.scss */
footer ul.menu li.current_page_item a {
  text-decoration: underline;
  color: white !important;
}
/* line 78, sass/_base.scss */
footer .ajanlat-btn {
  padding: 0 0 0 15px;
  position: relative;
  z-index: 10;
}
/* line 82, sass/_base.scss */
footer .ajanlat-btn a {
  background: #2b2b2b;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
}
/* line 91, sass/_base.scss */
footer .ajanlat-btn a:hover {
  background: #1e1e1e;
}

/* line 97, sass/_base.scss */
.fusion-footer {
  position: relative;
  z-index: 10;
}

/* line 101, sass/_base.scss */
footer.fusion-footer-widget-area {
  position: relative;
  overflow: initial;
}
/* line 104, sass/_base.scss */
footer.fusion-footer-widget-area .footer-wrap {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 113, sass/_base.scss */
footer.fusion-footer-widget-area .footer-wrap > .fusion-row {
  flex: 1;
}
/* line 118, sass/_base.scss */
footer.fusion-footer-widget-area:before {
  content: "";
  position: absolute;
  background: #92d050;
  width: 200%;
  height: 70%;
  top: -70%;
  left: -25%;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/* line 132, sass/_base.scss */
body.page-template-page-szoftveradatlap #main {
  padding: 55px 0 0 0 !important;
}

/* line 139, sass/_base.scss */
body.page-template-page-szoftveradatlap .szoftver-modules > h2 {
  text-align: center;
  color: #92d050;
  margin: 20px 0 25px 0;
  font-size: 2vw;
}
/* line 147, sass/_base.scss */
body.page-template-page-szoftveradatlap .szoftver-modules .modul-elem h4 {
  color: #92d050;
  font-size: 1.1rem;
}
/* line 152, sass/_base.scss */
body.page-template-page-szoftveradatlap .szoftver-modules .modul-elem .sdesc {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 8px 0;
}
/* line 160, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 10px 15px -10px #a19999;
  border-radius: 3px;
}
/* line 168, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul {
  flex-basis: calc(100% / 2);
  font-size: 0.8rem;
}
/* line 172, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .title {
  background: #e6e6e6;
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-size: 0.9rem;
  text-transform: none;
  font-weight: bold;
  color: #4d4b4b;
}
/* line 183, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper {
  padding: 8px;
}
/* line 189, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem .t {
  font-weight: bold;
  color: #525252;
  line-height: 1;
  margin: 0 0 5px 0;
  cursor: help;
}
/* line 196, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem .t i {
  font-size: 22px;
  vertical-align: sub;
  margin: 0 5px 0 0;
}
/* line 202, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem .t i[class*='plus-square'] {
  color: #93d660;
}
/* line 205, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem .t i[class*='minus-square'] {
  color: #93d660;
}
/* line 209, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem .sdesc {
  color: #7e7e7e;
  line-height: 1.2;
  display: none;
  padding: 0 0 0 28px;
}
/* line 216, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem.opened > .sdesc {
  display: block;
}
/* line 219, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul > .wrapper .modul-elem + .modul-elem {
  margin: 8px 0 0 0;
}
/* line 225, sass/_base.scss */
body.page-template-page-szoftveradatlap .moduls > .modul:nth-child(even) > .title {
  background: #f1f1f1;
}
/* line 231, sass/_base.scss */
body.page-template-page-szoftveradatlap .divider {
  background: #dddddd;
  height: 0.5px;
  margin: 10px 0;
  position: relative;
  display: block;
  width: 100%;
}
/* line 240, sass/_base.scss */
body.page-template-page-szoftveradatlap .titles {
  line-height: 1.4;
}
/* line 243, sass/_base.scss */
body.page-template-page-szoftveradatlap .titles .icologo {
  float: left;
  padding: 8px 10px 0 0;
}
/* line 246, sass/_base.scss */
body.page-template-page-szoftveradatlap .titles .icologo img {
  max-height: 50px;
  height: 50px;
}
/* line 251, sass/_base.scss */
body.page-template-page-szoftveradatlap .titles h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-size: 1.7rem;
}
/* line 257, sass/_base.scss */
body.page-template-page-szoftveradatlap .titles h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
/* line 264, sass/_base.scss */
body.page-template-page-szoftveradatlap .short-desc {
  font-size: 0.9rem;
  line-height: 1.3;
  color: #808080;
  padding: 0 0 0 60px;
}
/* line 271, sass/_base.scss */
body.page-template-page-szoftveradatlap .video-holder {
  background-color: #eaeaea;
  background-image: url("/wp-content/themes/Avada-Child-Theme/images/business-bg-overlay-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 0 100px 0;
}
/* line 280, sass/_base.scss */
body.page-template-page-szoftveradatlap .video-holder .videos h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 10px 0 25px 0;
}
/* line 289, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder {
  position: relative;
  overflow: initial;
}
/* line 293, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .adatlap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}
/* line 299, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .adatlap-top .image-list {
  flex-basis: 320px;
}
/* line 303, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .adatlap-top > .data {
  flex: 1;
  padding: 0 0 0 25px;
}
/* line 311, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .data-boxes .box h3 {
  text-transform: uppercase;
  font-size: 1.15rem;
  color: black;
}
/* line 317, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .data-boxes .box .box-content {
  line-height: 1.3;
  color: #808080;
}
/* line 322, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder .data-boxes .box + .box {
  margin: 30px 0 0 0;
}
/* line 327, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder > .fusion-row {
  position: relative;
  z-index: 3;
}
/* line 331, sass/_base.scss */
body.page-template-page-szoftveradatlap .szofver-adatlap-holder:after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 200%;
  height: 90px;
  bottom: -90px;
  left: -25%;
  z-index: 2;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  pointer-events: none;
}
/* line 349, sass/_base.scss */
body.page-template-page-szoftveradatlap .ajanlatkeres .ajanlat-btn {
  padding: 10px 0 25px 0;
  position: relative;
  z-index: 10;
  text-align: center;
}
/* line 354, sass/_base.scss */
body.page-template-page-szoftveradatlap .ajanlatkeres .ajanlat-btn a {
  background: #ff2d00;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
}
/* line 363, sass/_base.scss */
body.page-template-page-szoftveradatlap .ajanlatkeres .ajanlat-btn a:hover {
  background: #1e1e1e;
}

/* line 371, sass/_base.scss */
.box-nav ul, .box-nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 376, sass/_base.scss */
.box-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
/* line 382, sass/_base.scss */
.box-nav ul a {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 15px 0 0;
  color: #6a6a6a;
}
/* line 388, sass/_base.scss */
.box-nav ul a:hover {
  color: #ff2d00;
}

/* line 394, sass/_base.scss */
.rolunk-homepage {
  position: relative;
}
/* line 397, sass/_base.scss */
.rolunk-homepage .fusion-layout-column {
  position: relative;
  z-index: 1;
}
/* line 402, sass/_base.scss */
.rolunk-homepage:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 200%;
  height: 100px;
  top: 0;
  left: -25%;
  z-index: 1;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  pointer-events: none;
}

/* line 418, sass/_base.scss */
.backtop {
  text-align: right;
}
/* line 420, sass/_base.scss */
.backtop a {
  font-size: 0.7rem;
  color: #acacac;
}

/* line 426, sass/_base.scss */
.szoftver-blocklist-holder {
  position: relative;
  z-index: 100;
  margin: -123px 0 -80px 0;
}
/* line 430, sass/_base.scss */
.szoftver-blocklist-holder .slick-list {
  box-shadow: 3px 6px 7px -5px rgba(0, 0, 0, 0.18);
}
/* line 433, sass/_base.scss */
.szoftver-blocklist-holder .slick-prev, .szoftver-blocklist-holder .slick-next {
  background: #d9dbdf;
  height: 100px;
  width: 40px;
}
/* line 438, sass/_base.scss */
.szoftver-blocklist-holder .slick-prev {
  left: -60px;
}
/* line 441, sass/_base.scss */
.szoftver-blocklist-holder .slick-next {
  right: -60px;
}
/* line 444, sass/_base.scss */
.szoftver-blocklist-holder .slick-prev:before {
  font-family: 'FontAwesome';
  content: "\f104";
  font-size: 50px;
}
/* line 449, sass/_base.scss */
.szoftver-blocklist-holder .slick-next:before {
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 50px;
}
/* line 455, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver {
  outline: none !important;
}
/* line 458, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title {
  background: white;
  padding: 10px 15px;
  width: 33.33333%;
  box-shadow: 10px -4px 17px -6px rgba(26, 26, 26, 0.66);
}
/* line 463, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title img {
  float: left;
  margin: 0 10px 0 0;
  max-width: 50px;
}
/* line 469, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title h2, .szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title h3 {
  margin: 0;
}
/* line 473, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title h2 {
  font-size: 1.2rem;
}
/* line 477, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .title h3 {
  font-weight: 300;
  font-size: 0.9rem;
}
/* line 482, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data {
  font-size: 0.82rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
  padding: 25px 0;
}
/* line 494, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem .t {
  font-weight: bold;
  color: #525252;
  line-height: 1;
  margin: 0 0 5px 0;
  cursor: help;
}
/* line 501, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem .t i {
  font-size: 22px;
  vertical-align: sub;
  margin: 0 5px 0 0;
}
/* line 507, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem .t i[class*='plus-square'] {
  color: #93d660;
}
/* line 510, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem .t i[class*='minus-square'] {
  color: #93d660;
}
/* line 514, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem .sdesc {
  color: #7e7e7e;
  line-height: 1.2;
  display: none;
  padding: 0 0 0 28px;
}
/* line 521, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem.opened > .sdesc {
  display: block;
}
/* line 524, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .hlmoduls .modul-elem + .modul-elem {
  margin: 8px 0 0 0;
}
/* line 529, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data > div {
  flex-basis: calc(100% / 3);
  padding: 0 25px;
}
/* line 534, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data > div + div {
  border-left: 1px solid #e6e6e6;
}
/* line 538, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4c4c4c;
  margin: 0 0 10px 0;
}
/* line 545, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .excerpt {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
}
/* line 551, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .readmore {
  margin: 25px 0 0 0;
}
/* line 553, sass/_base.scss */
.szoftver-blocklist-holder > .wrapper .softver > .wrapper > .content-data .readmore a {
  font-weight: bold;
  background: #92d050;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  padding: 15px;
}
