#fusion-gmap-container, #main, #sliders-container, #wrapper, .fusion-separator .icon-wrapper, body, html{
  background-color: transparent;
}
.fusion-header-wrapper{
  background: white;
}
header{
  border-bottom: 1px solid #ebecec;
  padding: 10px 0;

  .ajanlat-btn{
    float: right;
    padding: 15px 0 0 15px;
    a{
      background: $color-red;
      color: white;
      padding: 15px 25px;
      font-weight: bold;
      text-decoration: none;
      font-size: 0.9rem;
      display: block;

      &:hover{
        background: darken($color-red, 5%);
      }
    }
  }
}

.fusion-main-menu > ul > li:hover > a{
  background: #ebecec;
}

.fusion-main-menu > ul > li > a{
  text-transform: uppercase;
  padding: 0 1rem;
}

.fusion-main-menu .fusion-dropdown-menu .sub-menu li a:hover{
  color: white;
}

.fusion-main-menu .sub-menu ul > li > a {
  background: $color-green-dark;
  color: white !important;
  &:hover{
    background: darken($color-green-dark, 10%);
  }
}

footer{
  .textwidget p{
    margin: 0;
    padding: 0;
  }
  ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      padding: 0 !important;
      border: none !important;
      a {
        padding: 0 15px;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        line-height: 60px;
        white-space: nowrap;

        &:hover:before{
          display: none !important;
        }
      }
    }
    li.current_page_item{
      a{
        text-decoration: underline;
        color: white !important;
      }
    }
  }
  .ajanlat-btn{
    padding: 0 0 0 15px;
    position: relative;
    z-index: 10;
    a{
      background: $color-grey;
      color: white;
      padding: 15px 25px;
      font-weight: bold;
      text-decoration: none;
      font-size: 0.9rem;
      display: block;

      &:hover{
        background: darken($color-grey, 5%);
      }
    }
  }
}
.fusion-footer{
  position: relative;
  z-index: 10;
}
footer.fusion-footer-widget-area{
  position: relative;
  overflow: initial;
  .footer-wrap{
    width: $page-width;
    max-width: $page-width;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > .fusion-row{
      flex: 1;
    }
  }

  &:before{
    content: "";
    position: absolute;
    background: $color-green;
    width: 200%;
    height: 70%;
    top: -70%;
    left: -25%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }
}
body.page-template-page-szoftveradatlap #main{
  padding: 55px 0 0 0 !important;
}

body.page-template{
  background-image: url('../../images/ai-temp-bg.svg');
  background-attachment: fixed;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom -5px;
}

body.page-template-page-szoftveradatlap{

  .szoftver-modules{
    & > h2 {
      text-align: center;
      color: $color-green;
      margin: 20px 0 25px 0;
      font-size: 2vw;
    }

    .modul-elem{
      h4{
        color: $color-green;
        font-size: 1.1rem;
      }

      .sdesc{
        font-size: 0.9rem;
        font-weight: bold;
        margin: 0 0 8px 0;
      }
    }
  }

  .moduls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 15px -10px #a19999;
    border-radius: 3px;
    background: white;

    & > .modul {
      flex-basis: calc(100% / 2);
      font-size: 0.8rem;

      & > .title{
        background: #e6e6e6;
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
        font-size: 0.9rem;
        text-transform: none;
        font-weight: bold;
        color: #4d4b4b;
      }
      & > .wrapper{
        padding: 8px;
        .modul-elem{

        }
        .modul-elem{
          .t{
            font-weight: bold;
            color: #525252;
            line-height: 1;
            margin: 0 0 5px 0;
            cursor: help;

            i{
              font-size: 22px;
              vertical-align: sub;
              margin: 0 5px 0 0;
            }

            i[class*='plus-square']{
              color: #93d660;
            }
            i[class*='minus-square']{
              color: #93d660;
            }
          }
          .sdesc{
            color: #7e7e7e;
            line-height: 1.2;
            display: none;
            padding: 0 0 0 28px;
          }
        }
        .modul-elem.opened > .sdesc{
          display: block;
        }
        .modul-elem + .modul-elem{
          margin: 8px 0 0 0;
        }
      }
    }
    & > .modul:nth-child(even){
      & > .title{
        background: #f1f1f1;
      }
    }
  }

  .divider{
    background: #dddddd;
    height: 0.5px;
    margin: 10px 0;
    position: relative;
    display: block;
    width: 100%;
  }

  .titles{
    line-height: 1.4;

    .icologo{
      float: left;
      padding: 8px 10px 0 0;
      img {
        max-height: 50px;
        height: 50px;
      }
    }
    h1{
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      font-size: 1.7rem;
    }
    h2{
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }
  }

  .short-desc{
    font-size: 0.9rem;
    line-height: 1.3;
    color: #808080;
    padding: 0 0 0 60px;
  }

  .video-holder{
    background-color: #eaeaea;
    background-image: url('#{$imgroot}business-bg-overlay-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0 100px 0;

    .videos{
      h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 10px 0 25px 0;
      }
    }
  }

  .szofver-adatlap-holder{
    position: relative;
    overflow: initial;

    .adatlap-top{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 40px 0;
      .image-list{
        flex-basis: 320px;
        .slick-prev, .slick-next{
          background: #e7e7e7;
          width: 25px;
          height: 45px;
        }
        .slick-prev{
          left: 0;
        }
        .slick-next{
          right: 0;
        }
        .slick-prev:before, .slick-next:before{
          color: white;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 20px;
        }
        .slick-prev:before{
          content:"\f104";
        }
        .slick-next:before{
          content:"\f105";
        }
        .images{
          table-layout: fixed;
          width: 100%;
          display: table;
          padding: 0 25px;
          .img {
            padding: 5px;
            text-align: center;
            img {
              margin: 0 auto;
            }
          }
        }
      }

      & > .data{
        flex: 1;
        padding: 0 0 0 25px;
      }
    }

    .data-boxes{
      .box{
        h3{
          text-transform: uppercase;
          font-size: 1.15rem;
          color: black;
        }

        .box-content{
          line-height: 1.3;
          color: #808080;
        }
      }
      .box + .box{
        margin: 30px 0 0 0;
      }
    }

    & > .fusion-row{
      position: relative;
      z-index: 3;
    }
    &:after{
      content: "";
      position: absolute;
      background: #ffffff;
      width: 200%;
      height: 90px;
      bottom: -98px;
      left: -25%;
      z-index: 2;
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
      -webkit-transform-origin: 3% 0;
      transform-origin: 3% 0;
      pointer-events: none;
    }
  }

  .ajanlatkeres{
    .ajanlat-btn{
      padding: 10px 0 25px 0;
      position: relative;
      z-index: 10;
      text-align: center;
      a{
        background: $color-red;
        color: white;
        padding: 15px 25px;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.1rem;
        text-align: center;

        &:hover{
          background: darken($color-grey, 5%);
        }
      }
    }
  }
}
.grecaptcha-badge{
  z-index: 100;
}
.contact-kapcsolat{
  input[type=text],
  input[type=email],
  select{
    width: 100% !important;
    margin: 0 !important;
    max-width: initial !important;
  }

  .sending-btn {
    background: $color-red !important;
    color: white !important;
    padding: 12px 14px !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
    border: none !important;
    cursor: pointer !important;
    line-height: 1 !important;
    outline: none !important;

    &.in-progress{
      background: orange !important;
    }
    &.sended{
      background: #75ba6e !important;
    }
  }
}
.box-nav{
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    a{
      font-size: 0.8rem;
      font-weight: 300;
      padding: 0 15px 0 0;
      color: #6a6a6a;

      &:hover{
        color: $color-red;
      }
    }
  }
}
.rolunk-homepage{
  position: relative;

  .fusion-layout-column{
    position: relative;
    z-index: 1;
  }

  &:before{
    content: "";
    position: absolute;
    background: #ffffff;
    width: 200%;
    height: 100px;
    top: 0;
    left: -25%;
    z-index: 1;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    pointer-events: none;
  }
}
.backtop{
  text-align: right;
  a{
    font-size: 0.7rem;
    color: #acacac;
  }
}

.contact-form-holder{
  .group-holder{
    .flxtbl{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin: -5px;

      .name, .email, .phone {
        flex-basis: calc(100% / 3);
      }

      .company, .szoftver {
        flex-basis: 50%;
      }

      .uzenet{
        flex-basis: 100%;
      }

      .accepts{
        margin: 5px 0;
        padding: 0 5px;
        a{
          color: $color-green;
        }
        & > div {
          margin: 4px 0;
        }
      }

      .form-input-holder{
        padding: 5px;

        input, textarea, select{
          padding: 15px;
          height: auto;
          color: #292626;
          font-size: 1.1rem;
          width: 100%;
        }

        textarea{
          width: 100%;
          max-width: 100%;
          min-height: 120px;
        }
      }
    }
  }

  .btns{
    margin: 10px 0 0 0;

    button {
      background: $color-red;
      color: white;
      padding: 12px 14px;
      border-radius: 4px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      line-height: 1;
      outline: none;

      &.in-progress{
        background: orange;
      }
      &.sended{
        background: #75ba6e;
      }
    }
  }
}

.szoftver-blocklist-holder{
  position: relative;
  z-index: 100;
  margin: -123px 0 -80px 0;
  .slick-list{
    box-shadow: 3px 6px 7px -5px rgba(0, 0, 0, 0.18);
  }
  .slick-prev, .slick-next{
    background: #d9dbdf;
    height: 100px;
    width: 40px;
  }
  .slick-prev{
    left: -60px;
  }
  .slick-next{
    right: -60px;
  }
  .slick-prev:before{
    font-family: 'FontAwesome';
    content: "\f104";
    font-size: 50px;
  }
  .slick-next:before{
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 50px;
  }
  & > .wrapper{
    .softver{
      outline: none !important;
      & > .wrapper{
        & > .title{
          background: white;
          padding: 10px 15px;
          width: 33.33333%;
          box-shadow: 10px -4px 17px -6px rgba(26, 26, 26, 0.66);
          img{
            float: left;
            margin: 0 10px 0 0;
            max-width: 50px;
          }

          h2, h3{
            margin: 0;
          }

          h2{
            font-size: 1.2rem;
          }

          h3{
            font-weight: 300;
            font-size: 0.9rem;
          }
        }
        & > .content-data {
          font-size: 0.82rem;
          background: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          line-height: 1.3;
          padding: 25px 0;

          .hlmoduls {
            .modul-elem{
              .t{
                font-weight: bold;
                color: #525252;
                line-height: 1;
                margin: 0 0 5px 0;
                cursor: help;

                i{
                  font-size: 22px;
                  vertical-align: sub;
                  margin: 0 5px 0 0;
                }

                i[class*='plus-square']{
                  color: #93d660;
                }
                i[class*='minus-square']{
                  color: #93d660;
                }
              }
              .sdesc{
                color: #7e7e7e;
                line-height: 1.2;
                display: none;
                padding: 0 0 0 28px;
              }
            }
            .modul-elem.opened > .sdesc{
              display: block;
            }
            .modul-elem + .modul-elem{
              margin: 8px 0 0 0;
            }
          }

          & > div {
            flex-basis: calc(100% / 3);
            padding: 0 25px;
          }

          & > div + div {
            border-left: 1px solid #e6e6e6;
          }

          h4{
            font-size: 0.9rem;
            font-weight: bold;
            color: #4c4c4c;
            margin: 0 0 10px 0;
          }

          .excerpt{
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.4;
          }

          .readmore{
            margin: 25px 0 0 0;
            a{
              font-weight: bold;
              background: $color-green;
              color: white;
              font-size: 0.7rem;
              text-decoration: none;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}
